.result-container {
    display: flex;
    flex-direction: column;
}

.result {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 15px 10px 10px;
    margin: 7px 0;
    background-color: rgb(225, 240, 255);
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: none;

    transition: all 0.2s ease;
}

.result-container input[name="answer-radio"] {
    display: none;
}

input[name="answer-radio"]:not(:checked) ~ label[name="label-answer"]:hover {
    /* color: #f5a627; */
    opacity: 1;
    box-shadow: 0 0 5px rgb(187, 201, 214);
}

input[name="answer-radio"]:checked ~ label[name="label-answer"] {
    opacity: 1;
    box-shadow: 0 0 5px rgb(187, 201, 214);
}

/* .result .answer-header {
    text-align: center;
    padding: 0 2px;
    width: 79px;
    background-color: aquamarine;
} */

.result .answer-container {
    height: 100%;
    display: flex;
    margin-left: 2px;
    /* flex-wrap: nowrap; */
}

.result .answer-container p {
    height: 100%;
    width: 360px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

.result label[name="rate"] {
    align-self: center;
    margin-top: -2px;
    margin-left: auto;
}

.result label[name="rate"] {
    cursor: pointer;
    font-size: 15px;
    color: #f5a627;
    opacity: 0.3;

    transition: all 0.2s ease;
}

input[name="star-radio"]:not(:checked) ~ label[name="rate"]:hover {
    color: #f5a627;
    opacity: 0.9;
}

input[name="star-radio"]:checked ~ label[name="rate"] {
    color: #f5a627;
    opacity: 1;
    text-shadow: 0 0 5px rgb(255, 220, 23);
}

.result-container input[name="star-radio"] {
    display: none;
}
