/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    /* font-family: "Open Sans", helvetica; */
    font-family: "Open Sans", cursive;
    font-size: 14px;
    min-height: 130px;
    width: 500px;
}

#main {
    padding: 2px;
    box-sizing: border-box;
}

#header {
    height: 70px;
    width: 100%;
    padding: 19px 0px;
    box-sizing: border-box;
    text-align: center;
    text-align-last: center;
}

.logo-name {
    font-size: 26px;
    color: #074d80;
}

.version {
    font-size: 16px;
    color: #444;
}

.form-group {
    border-top: 1.5px groove rgb(2, 41, 41);
    border-bottom: 1.5px groove rgb(2, 41, 41);
    display: flex;
    align-items: center;
}

#search-bar {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    font-size: 15px;
    border: rgba(0, 0, 0, 0);
    outline-style: inherit;
}

.button-container {
    margin-right: 5px;
    size: 50px;
    display: flex;
    flex-direction: column;
}

.button-container i {
    padding: 0.5px 8px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s;
}

.button-container i:hover {
    font-weight: 1000;
}

#progress {
    padding: 15px;
}
